<div ng-cloak style="align-content: center">
        <div class="row">
            <div class="col s12 m12">
                <div class="card light-grey">
                    <div class="card-content ">
                        <i class="material-icons prefix" style="color: white">chat</i> <span text-white style="font-size:xx-large; color:white">Chats:</span>
                        <!--<a class="waves-effect waves-light btn btn-link blue" type="submit" name="action" ng-click="ChatCtrl.sccf()">Show Create Chat</a>-->

                        <div ng-hide="ChatCtrl.cc == '-1'" class="ng-hide">
                            <textarea style="background: white" id="textarea1" class="materialize-textarea" ng-model="ChatCtrl.newText" required></textarea>
                            <a ng-disabled="!ChatCtrl.newText" class="btn waves-effect waves-light blue" type="submit" name="action" ng-click="ChatCtrl.createChat()">Create Chat
                            <i class="material-icons right">send</i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
    
        </div>

        <!--<div  id="chat-list" style="height:300px;overflow:auto">-->
        <div>
            <!-- Here come the messages in the chat, each one presented in card -->
            <div ng-repeat="m in ChatCtrl.messageList">
                <!-- This card prodives space for the message and Like/dislike buttons -->
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card light-grey">
                            <div class="card-content">
                                <!-- Card Title is the person who write the message -->
                                <span style="color: white" class="card-title">{{m.chname}}</span>

                            </div>
                            <div class="card-action">
                                    <a ui-sref="messages({id:m.chid})" class="waves-effect waves-light btn blue">View</a>
                                    <a ui-sref="manageChats({id:m.chid})" class="waves-effect waves-light btn blue">Chat settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>